#root {
  margin: 0 auto;
}
.contenedor-gral{
  width: 100%;
  height: auto;
}
.tipografia-headline{
font-family: Kanit;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.tipografia-titulo{
  font-family: Kanit;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.tipografia-subtitulo{
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.tipografia-subtituloitalic {
font-family: sans-serif;
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.tipografia-texto {
font-family: Kanit;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.tipografia-texto-s {
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}